<div class="col s12 tag-div">
    <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
    </div>
    <div class="user-intro center-align">
        <h4 class="hidden">一名<span class="keyword" id="js-rotating">函数编程范, 热爱Web, 热爱实践, 求知欲强</span>的码农选手</h4>
    </div>
    <div class="user-content center-align">
        <p>
            比你优秀的人都在努力，你有什么理由不努力呢？
        </p>
        <p>
            The one who was more excellenting than you is working hard, why do not you?
        </p>
    </div>
    <div class="user-recommend center-align">
    	<p class="commend-title">推荐学习：</p>
		<p class="commend-content">react、typescript</p>
		<p class="commend-title">推荐关注：</p>
		<p class="commend-content">react 17.0、vue 3.0、parcel</p>
    </div>
</div>