<div class="col s12 tag-div">
    <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
    </div>
    <div class="user-intro center-align">
        <h4 class="hidden">一个<span id="js-rotating">勤奋, 上进, 苦钻, 求索</span>的码农新手</h4>
    </div>
    <div class="user-content center-align">
        <p>
            有志者，事竟成。
        </p>
        <p>
            环境能影响到人，但影响不了人的本性。
        </p>
    </div>
    <div>
        <span class="my-linkedin">我的领英(LinkedIn)</span>
        <div class="linkedin-tag center-align">
            <div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="zh_CN" data-type="horizontal" data-theme="light" data-vanity="志成-胡-16a539160"><a class="LI-simple-link" href='https://www.linkedin.com/in/志成-胡-16a539160/'>Failte</a></div>

        </div>
    </div>
</div>