<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="baidu-site-verification" content="X2hsRcRCeh" />
    <meta name="360-site-verification" content="fa6ca3a9a0330e9cecabee0a9fe1d52a" />
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <!--SOUGOU-->
    <meta name="sogou_site_verification" content="oatSp9uAV5" />
    <!--熊掌号 new-->
    <meta name="baidu-site-verification" content="vOI5lMb7eZ" />
    <title>
        {% if page.title %} 
        {{ page.title | escape }} 
        {% else %} 
        {{ site.title | escape }} 
        {% endif %}
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/res/favicon.ico">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/stylesheet.css"> 
    {% for css in layout.css %} 
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}"> 
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}"> 
    {% endif %} 
    {% endfor %}
    {% for css in page.css %} 
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}"> 
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}"> 
    {% endif %} {% endfor %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{site.baseurl}}/feed.xml">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{site.baseurl}}/sitemap.xml"> 
    {% seo title=false %}

</head>

<body>
    <script>
        (function() {
            var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?9a9ed8ab4ddeae919346a010fbb8884f" : "https://jspassport.ssl.qhimg.com/11.0.1.js?9a9ed8ab4ddeae919346a010fbb8884f";
            document.write('<script src="' + src + '" id="sozz"><\/script>');
        })();
    </script>
    <header>
        <nav class="top-nav">
            <div class="nav-wrapper" id="changebc">
                <div class="container">
                    <a class="page-title" href="{{site.baseurl}}/">{{site.title}}</a>
                    <p class="head-message">学习&nbsp;&nbsp;总结&nbsp;&nbsp;分享&nbsp;&nbsp;提升</p>
                </div>
            </div>
        </nav>
        <div class="container">
            <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only">
                <i class="material-icons">menu</i>
            </a>
        </div>
        <ul id="slide-out" class="side-nav fixed" style="background-color:#ddd">
            <li>
                <div class="userView">
                    <div class="background"></div>
                    <a href="{{site.github_profile}}" target="_blank"><img class="circle z-depth-2" src="{{site.baseurl}}/assets/res/user.png"></a>
                    <span class="white-text name">{{site.user}}</span>
                    <span class="white-text email">{{site.user_email}}</span>
                </div>
            </li>
            <li><a class="waves-effect" href="{{site.baseurl}}/"><i class="material-icons">home</i>Home</a></li>
            <li><a class="waves-effect" href="{{site.baseurl}}/projects"><i class="material-icons">description</i>Github</a></li>
            <li><a class="waves-effect" href="{{site.baseurl}}/categories"><i class="material-icons">sort</i>Categories</a></li>
            <li><a class="waves-effect" href="{{site.baseurl}}/tags"><i class="material-icons">label</i>Tags</a></li>
            <li><a class="waves-effect" href="{{site.baseurl}}/feed.xml" target="_blank"><i class="material-icons">rss_feed</i>RSS</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a class="waves-effect" href="{{site.baseurl}}/about"><i class="material-icons">person</i>About</a></li>
            <li><a class="waves-effect" href="{{site.baseurl}}/contact"><i class="material-icons">email</i>Contact</a></li>
            <li>
                <a class="waves-effect" href="javascript:void(0)"><img src="{{site.baseurl}}/assets/res/wechat-slide.png" style="margin:12px 32px 0 0">微信号</a>
                <img src="{{site.baseurl}}/assets/res/failte.png" alt="微信：failte" width="80%" title="微信：failte" style="margin-left:10%">
            </li>
        </ul>
        <script>
            // change background color
            var cbc = document.getElementById("changebc");
            var x = 90,
                y = 90;
            var flagx = 0;
            flagy = 2;
            setInterval(function() {
                cbc.style.background = "linear-gradient(" + x + "deg, #3AA17E 10%, #00537E " + y + "%)";
                if (flagx == 0) {
                    x++;
                    if (x == 360) {

                        flagx = 1;
                    }
                } else if (flagx == 1) {
                    x--;
                    if (x == 90) {
                        flagx = 2;
                        flagy = 0;
                    }
                }

                if (flagy == 0) {
                    y++;
                    if (y == 200) {
                        flagy = 1;
                    }
                } else if (flagy == 1) {
                    y--;
                    if (y == 90) {
                        flagy = 2;
                        flagx = 0;
                    }
                }
            }, 30);
        </script>
    </header>
    <main>